@model Pseez.ViewModels.ViewModels.PseezEnt.IT.ServerViewModel

<div class="modal-header alert-info">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <span class="glyphicon glyphicon-remove closePanel"></span></button>
    <h3 class="modal-title">ثبت شماره تماس جدید</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ServerName, new {@class = "control-label col-sm-3"})
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.ServerName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ServerName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IP, new {@class = "control-label col-sm-3"})
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.IP, new {htmlAttributes = new {@class = "form-control col-sm-6", dir = "ltr"}})
                    @Html.ValidationMessageFor(model => model.IP)
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="~/Content/Meh/Images/wait.gif" alt="wait" />
            در حال ارسال ...
        </span>

        <input class="btn btn-primary" type="submit" value="ذخیره"/>
        <button class="btn btn-warning" data-dismiss="modal">بستن</button>
    </div>
}