@*<div>.1 Risk management plan</div>
<div>.2 Cost management plan</div>
<div>.3 Schedule management plan</div>
<div>.4 Quality management plan</div>
<div>.5 Human resource management plan</div>
<div>.6 Scope baseline</div>
<div>.7 Activity cost estimates</div>
<div>.8 Activity duration estimates</div>
<div>.9 Stakeholder register</div>
<div>.10 Project documents</div>
<div>.11 Procurement documents</div>
<div>.12 Enterprise environmental factors</div>
<div>.13 Organizational process assets</div>*@

@model Pseez.ViewModels.ViewModels.PseezEnt.Pmbok.ProjectDocumentLatestValueFilesViewModel
<div class="panel-group" @*id="accordion"*@ role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    1. Risk management plan
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.RiskManagementPlan)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.RiskManagementPlanFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    2. Cost management plan
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.CostManagementPlan)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.CostManagementPlanFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading3">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    3. Schedule management plan
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.ScheduleManagementPlan)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.ScheduleManagementPlanFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    4. Quality management plan
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.QualityManagementPlan)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.QualityManagementPlanFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading5">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    5. Human resource management plan
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.HumanResourceManagementPlan)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.HumanResourceManagementPlanFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading6">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                    6. Scope baseline
                </a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
            <div class="panel-body">
                <div class="form-group">
                    @Html.Label("Project scope statement")
                    <div class="meh-documentGroup">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.ProjectScopeStatement)
                        </div>
                        <div class="form-group">
                            @foreach (var file in Model.ProjectScopeStatementFiles)
                            {
                                <div class="meh-documentFile">
                                    @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    @Html.Label("WBS")
                    <div class="meh-documentGroup">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.WBS)
                        </div>
                        <div class="form-group">
                            @foreach (var file in Model.WBSFiles)
                            {
                                <div class="meh-documentFile">
                                    @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    @Html.Label("WBS dictionary")
                    <div class="meh-documentGroup">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.WBSDictionary)
                        </div>
                        <div class="form-group">
                            @foreach (var file in Model.WBSDictionaryFiles)
                            {
                                <div class="meh-documentFile">
                                    @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading7">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                    7. Activity cost estimates
                </a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.ActivityCostEstimates)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.ActivityCostEstimatesFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading8">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
                    8. Activity duration estimates
                </a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.ActivityDurationEstimates)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.ActivityDurationEstimatesFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading9">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
                    9. Stakeholder register
                </a>
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.StakeholderRegister)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.StakeholderRegisterFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading10">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
                    10. Project documents
                </a>
            </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
            <div class="panel-body">
                @Html.ActionLink("Project Documents", "Index", "ProjectDocuments", new { area = "Documents" }, null)
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading11">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11">
                    11. Procurement documents
                </a>
            </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.ProcurementDocuments)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.ProcurementDocumentsFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading12">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12">
                    12. Enterprise environmental factors
                </a>
            </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.EnterpriseEnvironmentalFactors)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.EnterpriseEnvironmentalFactorsFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading13">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapse13">
                    13. Organizational process assets
                </a>
            </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
            <div class="panel-body">
                @*@Html.TextArea("OrganizationalProcessAssets")*@
                <div class="form-group">
                    @Html.Label("Processes & Procedures")
                    <div class="meh-documentGroup">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.ProcessesAndProcedures)
                        </div>
                        <div class="form-group">
                            @foreach (var file in Model.ProcessesAndProceduresFiles)
                            {
                                <div class="meh-documentFile">
                                    @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    @Html.Label("Corporate Knowledge Base")
                    <div class="meh-documentGroup">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.CorporateKnowledgeBase)
                        </div>
                        <div class="form-group">
                            @foreach (var file in Model.CorporateKnowledgeBaseFiles)
                            {
                                <div class="meh-documentFile">
                                    @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>