@*<div>.1 Quality management plan</div>
<div>.2 Process improvement plan</div>
<div>.3 Quality metrics</div>
<div>.4 Quality control measurements</div>
<div>.5 Project documents</div>*@

@model Pseez.ViewModels.ViewModels.PseezEnt.Pmbok.ProjectDocumentLatestValueFilesViewModel
<div class="panel-group" @*id="accordion"*@ role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    1. Quality management plan
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.QualityManagementPlan)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.QualityManagementPlanFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    2. Process improvement plan
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.ProcessImprovementPlan)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.ProcessImprovementPlanFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading3">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    3. Quality metrics
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.QualityMetrics)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.QualityMetricsFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    4. Quality control measurements
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
                <div class="meh-documentGroup">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.QualityControlMeasurements)
                    </div>
                    <div class="form-group">
                        @foreach (var file in Model.QualityControlMeasurementsFiles)
                        {
                            <div class="meh-documentFile">
                                @Html.ActionLink(file.FileName, "DownloadDocumentFile", new { id = file.Id }, new { @class = "meh-downloadLink" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading5">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    5. Project documents
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <div class="panel-body">
                @Html.ActionLink("Project Documents", "Index", "ProjectDocuments", new { area = "Documents" }, null)
            </div>
        </div>
    </div>
</div>